/* 主区域 */
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
/* 功能按钮 */
.optBtnList{
  margin-bottom: 10px;
}
/* 规则列表 */
.optBtnList > button{
  padding: 6px 12px;
  background: none;
  border-radius: 4px;
  margin: 0px 6px;
}
.ruleListItem{
  margin-bottom: 10px;
}
/* title */
.ruleTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ruleTitle > span{
  font-size: 14px;
}
.ruleTitle > input{
  background: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 0px 6px;
  text-align: center;
}
.ruleTitle > button{
  padding: 6px 12px;
  background: none;
  border-radius: 4px;
  margin: 0px 6px;
}
/* content */
.ruleContent{
  
}
.valueList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.valueTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  font-size: 14px;
}
.valueTitle > button {
  background: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 18px;
  text-align: center;
  padding: 0px;
  border: 1px solid #ccc;
  margin: 0 6px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.listItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
.optionsShow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.optionsShow > input{
  background: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 6px;
  text-align: center;
}
.optionsShow > button {
  background: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 18px;
  text-align: center;
  padding: 0px;
  border: 1px solid #ccc;
  margin: 0 6px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}



/* 按钮样式 */
.switch {
  display: none;
}

.switch+label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 2px;
  width: 50px;
  height: 26px;
  background-color: #ddd;
  border-radius: 60px;
}

.switch+label:before,
.switch+label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.switch+label:after {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.switch+label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s ease-in-out;
}

.switch:checked+label:before {
  background-color: #8ce196;
}

.switch:checked+label:after {
  margin-left: 26px;
}




/* JS IDE */
#editor {
  height: 100%;
  width: 500px;
}