<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adjust Popup</title>
  <!-- import restcss -->
  <link rel="stylesheet" href="./css/reset.css">
  <!-- import Vue.js -->
  <script src="./js/vue.min.js"></script>
  <!-- import iview stylesheet -->
  <link rel="stylesheet" href="./css/vue_iview.css">
  <!-- import iView -->
  <script src="./js/vue_iview.min.js"></script>
</head>

<body>
  <div id="list">
    <ul class="rules" v-for="item in list">
      <h3 class="ruleTitle">
        <span>{{item.hostname}}</span>
        <input type="radio" name="" id="" checked="item.on"  @click="item.on = !item.on">
      </h3>
      <ul class="ruleList">
        <li class="ruleItem" v-for="styleRules in item.styleRules"> 
          <dl class="valueList">
            <dt>{{styleRules.target}}</dt>
            <dd v-for="valueItem in styleRules.valueArr" :key="valueItem.id">{{valueItem.key}}:{{valueItem.value}}</dd>
          </dl>
          <div class="valueSwitch">
            <input type="radio" name="" id="" checked="styleRules.on" @click="styleRules.on = !styleRules.on">
          </div>
        </li>
      </ul>
    </ul>
  </div>
  <!-- import popupJs -->
  <script type="text/javascript" src="./js/popup.js"></script>
</body>

</html>